<%- include ('includes/head'); -%>

<body class="book" style="background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.438)),url(<%=book.bookImage%>);background-size: cover;">

  <%- include('includes/header'); -%>

  <main class="p-5 text-white">
    <div class="row">
      <div class="col-md-3">
        <div>
          <img src="<%=book.bookImage  %>" class="bookimg" height="400">

        </div>
        <div class="my-1">
          <a href="/download/<%=book.id%>" class="btn btn-lg w-100 btn-warning">Download</a>

        </div>
      </div>
      <div class="col-md-9">
        <div>
          <h3>
            <strong>
              <%=book.title  %>
            </strong>
          </h3>
          <p>
            <span class="title"> Title: </span><%=book.title%>
          </p>
          <p>
            <span class="title">Author(s): </span><%=book.author  %>
          </p>
          <p>
            <span class="title">Publisher: </span><%=book.publisher  %>
          </p>
          <p>
            <span class="title">Year: </span><%=book.year  %>
          </p>
          <p>
            <span class="title">Pages:</span> <%=book.pages  %>
          </p>
          <p>
            <span class="title">Language:</span> <%=book.language  %>
          </p>
          <p>
            <span class="title">Tags: </span><%=book.categories  %>
          </p>


        </div>
        <div>

          <h5 class="text-warning">
            <strong>
              Info
            </strong>

          </h5>
          <p><%=book.about  %></p>
        </div>
      </div>
    </div>



  </main>



  <%- include ('includes/footer'); -%>

</body>

</html>