<%- include ('includes/head'); -%>

    <body class="Upload">

        <%- include ('includes/header'); -%>
        <% if(errors !=null && errors.length> 0){ %>

            <% for (var i=0; i < errors.length; i++) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%= errors[i] %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
            <% } %>
        
        
            <% if(success !=null && success.length> 0){ %>
        
            <% for (var i=0; i < success.length; i++) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <%= success[i] %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
            <% } %>
        
    <main class="p-5 m-1 mx-5">
        <div class="bg-dark text-bg-dark p-4 opacity-75">
            <div class="p-5 mx-5">
                <div class="text-center text-uppercase mb-2">
                   <h2> Request Book </h2>
                </div>
                <form method="post" action="/request">
                <div class="row text-uppercase">                    
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="title" class="form-label">title</label>
                                <input type="text" class="form-control bg-dark text-bg-dark" name="title" id="title" required>
                            </div>
                            <div class="mb-3">
                                <label for="language" class="form-label">language</label>
                                <input type="text" class="form-control bg-dark text-bg-dark" name="text_language" id="language" required>
                            </div>
                            <div class=" mb-3">
                                <label for="type" class="form-label">type</label>
                                <select class="form-select bg-dark text-bg-dark" name="type" required id="type">
                                    <option selected=""></option>
                                    <option>Scholarly Books (Monographs)</option>
                                    <option>Textbooks</option>
                                    <option>Anthologies</option>
                                    <option>Dissertations</option>
                                  </select>
                            </div>
                            

                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="author" class="form-label">author</label>
                                <input type="text" class="form-control bg-dark text-bg-dark" name="author" id="author" required>
                            </div>
                            <div class="mb-3">
                                <label for="year" class="form-label">year</label>
                                <input type="text" class="form-control bg-dark text-bg-dark" name="year" id="year" required>
                            </div>

                            <div class="mb-3">
                                <label for="publisher" class="form-label">publisher</label>
                                <input type="text" class="form-control bg-dark text-bg-dark" name="publisher" id="publisher" required>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-warning btn-lg">Submit</button>
                        </div>
                    
                </div>
            </form>
            </div>
        </div>
    </main>


    <%- include ('includes/footer'); -%> 


</body>

</html>