
<%- include ('includes/head'); -%>

<body class="upload">

    <%- include ('includes/header'); -%>

    <div class="mt-5 p-2"> <h1 class="text-center text-white">Requested Books by Users</h1></div>
    <% if(errors !=null && errors.length> 0){ %>

      <% for (var i=0; i < errors.length; i++) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= errors[i] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>
      <% } %>
  
  
      <% if(success !=null && success.length> 0){ %>
  
      <% for (var i=0; i < success.length; i++) { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success[i] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>
      <% } %>
    <div class="bd-example mt-1 mx-3" style="background-color: #fff;">


        <table class="table table-hover table-striped my-0">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Year</th>
                    <th scope="col">Type</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% for( let i = 0; i < books.length; i++ ) { %>
          
                    <tr>
                      
                      <td><strong><%=books[i].title  %></strong>
                      </td>
                      <td><%=books[i].author  %></td>
                      <td><%=books[i].publisher  %></td>
                      <td><%=books[i].year  %></td>
                      <td><%=books[i].type  %></td>
                      <td>
                          <a class="btn btn-primary btn-lg" href="http://localhost:3000/requested/<%=books[i]._id%>">Added</a></td>
                    </tr>
                    <% } %>


            </tbody>

        </table>
    </div>
         
    <%- include ('includes/footer'); -%> 


</body>

</html>