
<%- include ('includes/head'); -%>

<body class="upload">

    <%- include ('includes/header'); -%>

    <div class="mt-5 p-2"> <h1 class="text-center text-white">All Uploads</h1></div>
    <% if(errors !=null && errors.length> 0){ %>

      <% for (var i=0; i < errors.length; i++) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= errors[i] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>
      <% } %>
  
  
      <% if(success !=null && success.length> 0){ %>
  
      <% for (var i=0; i < success.length; i++) { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success[i] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>
      <% } %>
    <div class="bd-example mt-1 " style="background-color: #fff;">


        <table class="table table-hover table-striped my-0">
            <thead>
                <tr>
                    <th scope="col">Cover</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Year</th>
                    <th scope="col">Type</th>
                    <th scope="col">Uploader</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% for( let i = 0; i < books.length; i++ ) { %>
          
                    <tr>
                      
                      <td><img src="<%=books[i].bookImage%>" width="70" height="100"></td>
                      <td><strong><%=books[i].title  %></strong>
                        <p><%=books[i].about  %></p>
                      </td>
                      <td><%=books[i].author  %></td>
                      <td><%=books[i].publisher  %></td>
                      <td><%=books[i].year  %></td>
                      <td><%=books[i].type  %></td>
                      <td><%=books[i].uploader.name  %></td>
                      <td><div class="dropstart">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Action
                        </button>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="http://localhost:3000/book/<%=books[i]._id%>">View</a></li>
                        <li><hr class="dropdown-divider"></li>  
                          <li><a class="dropdown-item" href="http://localhost:3000/edit-book/<%=books[i]._id%>">Edit</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#"  id="myBtn">Delete</a></li>
                        </ul>
                      </div></td>
                    </tr>
                    <div id="myModaal" class="modal">
        
                        <!-- Modal content -->
                        <div class="modaal-content p-2">
                          <div class="modaal-header">
                            <span class="close">&times;</span>
                            <h2>Delete file</h2>
                          </div>
                          <div class="modaal-body">
                            <p>Are you sure that you want to delete the file</p>
                          </div>
                          <div class="modaal-footer">
              <button class="btn btn-danger" onclick="postData('<%=books[i]._id %>')" >Delete</button>
                          </div>
                        </div>
                      
                      </div>
                    <% } %>


            </tbody>

        </table>
    </div>

                <!-- The Modal -->

        
        <script>
        // Get the modal
        var modal = document.getElementById("myModaal");
        
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }

async function postData(id) {
    console.log(id)
    const url = "http://localhost:3000/delete-book/"+id
  const response = await fetch(url, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    redirect: 'follow', // manual, *follow, error
    // body: JSON.stringify(data) // body data type must match "Content-Type" header
  });
  window.location.replace('http://localhost:3000/view-all-uploads/');
}

        </script>
         
    <%- include ('includes/footer'); -%> 


</body>

</html>